<a href="https://colab.research.google.com/github/dgromann/cl_intro_ws2025/blob/main/tutorials/Tutorial1_model_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial 1: Introduction to Computational Linguistics

This is the first tutorial with practical exercises for the lecture *Introduction to Computational Linguistics* in the winter semester 2025. Hands-on exercises are marked with üëã ‚öí and questions are marked with ‚ùì.

## **Store this notebook**

Go to **File** and make sure you store this file as a local copy to either your GitHub or Google Drive. If you do not have a Google account and also do not want to create one, please check Option C below.


## Option A)  Google Drive

Go to the menu **File** and click on **Save a Copy in Drive**. The advantage of this option is that your changes in the notebook will be saved regularly. If you wish to move the file to a specific folder, click on **Move** and the select the corresponding folder in your Google Drive.

## Option B) GitHub


Go to the menu **File** and click on **Save a Copy in GitHub**, select the repository on your GitHub account to which you wish to push the Colab notebook. Note that this option does not automatically save changes in your Colab notebook.

## Option C) Download this notebook as ipynb (Jupyter notebook) or py (Python file)

To run this notebook as Jupyter notebook or Python file on your local machine, Python and NLTK need to be installed. Within the course of the semester several more local installations will be required.  

To run a Jupyter notebook the easiest option is to install [Anacadonda](https://www.anaconda.com/). A Python file can be run directly from the command line or in an Integrated Development Environment (IDE), such as [PyCharm](https://www.jetbrains.com/de-de/pycharm/).

-----------
## **Lesson 1: Simple Variables and Operations**
Python is a programming language that uses indentation to structure statements into blocks, instead of brackets.


üëã ‚öí Change the example below so that it can run correctly.

In [1]:
# Exercise: what needs to be corrected so that the following code runs correctly?
x = 1
if x == 1:
  print("x is 1.")

x is 1.

Variables and types in Python are very similar to other programming languages. Run the examples below to see what happens.

‚ùì What happens in the command `int(my_float)`?

In [2]:
# Integer
my_int = 7
print(my_int)

# Float
my_float = 7.0
print(my_float)

# String
my_string = "Computational Linguistics"
print(my_string)

# What happens here?
my_float = int(my_float)
print(my_float)

7
7.0
Computational Linguistics
7

üëã ‚öí Follow the instructions in the following code cells and perform the exercises.

In [ ]:
# Exercise: Run 12/(4+3) and 3*3 and print the results of both operations
x = 12/(4+3)
y =3*3
print(x)
print(y)
print(x,"\n", y)

1.7142857142857142
9
1.7142857142857142
 9

In [ ]:
# Exercise: Print the variable my_string three times without repeating the variable itself
print(((my_string+" ")*3).strip())
print(my_string*3)

Computational Linguistics Computational Linguistics Computational Linguistics
Computational LinguisticsComputational LinguisticsComputational Linguistics

In [ ]:
# Some additional operators
print("remainder = ", 11 % 3)
print("squared = ", 11 ** 2)
print("cubed = ", 11 ** 3)

remainder =  2
squared =  121
cubed =  1331

Strings can not only be multiplied but also concatenated. Let's look at some additional string operations.

In [ ]:
# String concatenation
first = "first"
second = "second"
third = first + " " + second
print(third)

one_more = "Don't worry about apostrophes"
print(one_more)

first second
Don't worry about apostrophes

üëã ‚öí Create a variable that combines the string **first** with the variable **a** to obtain "first1".

In [ ]:
#Your code here
first = "first"
a = 1
new_variable = first + str(a)
print(new_variable)

first1

üëã ‚öí Change the following float, integer, and string in a way that all three are printed with the provided print statements.

In [3]:
# Exercise: change the values of the three variables below so that their
# values are printed by the test code
mystring = "hello"
myfloat = 10.0
myfloat = round(myfloat,2)
myint = 20

print(round(myfloat,2))

# Test code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

10.0
String: hello
Float: 10.000000
Integer: 20

üëã ‚öí Print the length of the string `my_string`

In [7]:
# Length
my_string = "Introduction to Computational Linguistics"
print(len(my_string))

41

üëã ‚öí Get the letter on the third position of `my_string`

In [8]:
# Indexing
print(my_string[2])

t

üëã ‚öí Slice `my_string` so that you only obtain "Intro" in one single line

In [10]:
# Slicing
print(my_string[:5])
# To get the last five letters use the following code
print("The last five letters are ", my_string[-5:])

Intro
The last five letters are  stics

Further useful string operations.

In [11]:
my_string = "Introduction to Computational Linguistics"

print("Lower casing ", my_string.lower())
print("Upper casing ", my_string.upper())
print("Check for start ", my_string.startswith("Introduction"))
print("Check for ending ", my_string.endswith("s"), my_string.endswith("a"), my_string.endswith("Linguistics"))

print("Splitting the string based on blank space creates a list", my_string.split(" "))

Lower casing  introduction to computational linguistics
Upper casing  INTRODUCTION TO COMPUTATIONAL LINGUISTICS
Check for start  True
Check for ending  True False True
Splitting the string based on blank space creates a list ['Introduction', 'to', 'Computational', 'Linguistics']

üëã ‚öí Try out the string operations in the following exercises.

In [12]:
tester = "Hey there! What should this string be?"

# Exercise: Calculate the lenght of the string tester
print("Length of s = %d" % len(tester))

# First occurrence of "e"
print("The first occurrence of the letter e = %d" % tester.index("e"))

# Exercise: count the number of times "e" occurs in the string tester
print("e occurs %d times" % tester.count("e"))

# Exercise: Ensure the string starts with "Hey"
if tester.startswith("Hey"):
    print("String starts with 'Hey'. Good!")

Length of s = 38
The first occurrence of the letter e = 1
e occurs 4 times
String starts with 'Hey'. Good!

----------
## **Lesson 2: Collections**

Python has several built-in types that are useful for storing and manipulating data: list, tuple, dict. Here is the official Python documentation on these types (and many others): https://docs.python.org/3/library/stdtypes.html.

## Lists

Lists are a type of array.

In [13]:
branches = ["phonetics", "phonology"]

In [14]:
# Access element list by index
print(branches[0])

phonetics

In [15]:
# Append to list adds elements at the end of the list
branches.append("morphology")
print(branches)

['phonetics', 'phonology', 'morphology']

In [16]:
# Get length of list
print(len(branches))

3

In [17]:
# Count the number of times an element is in a list
print(branches.count("phonology"))

1

In [18]:
# Concatenate two lists
# += operator is a short hand for list1 = list1 + list2 (can also be used for -, *, / and on other types of variables)
branches += ["semantics", "pragmatics"]
print(branches)

['phonetics', 'phonology', 'morphology', 'semantics', 'pragmatics']

In [19]:
# Create a list that contains different data types, this is allowed in Python
stuff = [3, ["Hey", "there!"], -0.31, None]
print(stuff)

[3, ['Hey', 'there!'], -0.31, None]

üëã ‚öí Change **x_list**, **y_list**, and **big_list** so that the test code prints the provided statements.

In [22]:
x = "x"
y = "y"

# To change
x_list = [x]*10
y_list = [y]*10
# big_list should be a combination of the two lists above
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# Test code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

üëã ‚öí Get the first two elements of **list1** directly in a print statement using slicing.

In [23]:
# Your code to print "This", "is"
list1 = ["This", "is", "a", "list"]
print(list1[:2])

['This', 'is']

In [24]:
# To iterate over two lists at the same time, you can use the function zip
list2 = [1, 2, 3, 4]

for elem_list1, elem_list2 in zip(list1, list2):
  print(elem_list1, elem_list2)

This 1
is 2
a 3
list 4

In [25]:
# When you want to deduplicate a list, it is easiest to convert it into a set
list1 = ["This", "is", "a", "list", "list", "list", "list"]
print(set(list1))

# There is a built in function to calculate the overlap of elements between a set and a list
list2 = ["This", "also", "is", "a", "list"]
set(list1).intersection(list2)

{'list', 'is', 'a', 'This'}

{'This', 'a', 'is', 'list'}

## Dictionary

Dictionaries are hash maps.

In [26]:
#Create an empty dictionary
grades = {}
grades = dict()

In [27]:
#Add the first item to the dictionary
grades = {"Elon" : "5"}
#Add a second item to the dictionary
grades["Mary"] = "1"
print(grades)

{'Elon': '5', 'Mary': '1'}

In [28]:
#Check if key is in dictionary
print("Elon" in grades)

True

In [29]:
#Get a value based on the key
print(grades["Elon"])

5

In [30]:
#Change value
grades["Elon"] = 4
print(grades)

{'Elon': 4, 'Mary': '1'}

In [31]:
#Iterate over dictionary keys and values
for key, value in grades.items():
  print(key, value)

#Print all the values in the dictionary
for value in grades.values():
  print(value)

#Print all the keys in the dictionary
for key in grades.keys():
  print(key)

Elon 4
Mary 1
4
1
Elon
Mary

üëã ‚öí Iterate over both lists simultaneously and write list1 as keys and list2 as corresponding values into a new dictionary.

In [32]:
list1 = ["Anna", "Hans", "Tom"]
list2 = [1, 2, 1]

grades = {}

#The result should be {'Anna': 1, 'Hans': 2, 'Tom': 1}
for x, y in zip(list1,list2):
  grades[x] = y

print(grades)

{'Anna': 1, 'Hans': 2, 'Tom': 1}

In [33]:
#Delete an item
del grades["Tom"]
print(grades)

{'Anna': 1, 'Hans': 2}